/*Codes By Mahdi Tasha*/
/*Variables*/
:root {
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);

    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);

    --Font-size: 18px;
}

/*Resetting Some Styles*/
img {pointer-events: none;}
button {
    cursor: pointer;
    transition: .3s;
}

/*Universal Selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--Font-size);
}

/*Colors For Themes*/
body[data-theme='dark'] {background-color: var(--Very-Dark-Blue);}
body[data-theme='dark'] .todo-holder--todo--input-holder {background-color: var(--Very-Dark-Desaturated-Blue);}
body[data-theme='dark'] .todo-checkbox{border: 1px solid rgba(256,256,256,.2);}
body[data-theme='dark'] .todo-input{color: var(--Very-Light-Gray);}
body[data-theme='dark'] .todo-input::placeholder {color: var(--Light-Grayish-Blue);}
body[data-theme='dark'] .todo-holder--todo--list--item,
body[data-theme='dark'] .todo-holder--todo--bottom-items{background-color: var(--Very-Dark-Desaturated-Blue);}
body[data-theme='dark'] .todo-holder--todo--bottom-items--items-left,
body[data-theme='dark'] .todo-holder--todo--bottom-items--center-items-button,
body[data-theme='dark'] .todo-holder--todo--bottom-items--clear-btn{color: rgba(256,256,256,.2);}
body[data-theme='dark'] .todo-holder--todo--bottom-of-todos--inner-text {color: rgba(256,256,256,.2);}

/*Styles*/
.todo-holder--todo {width: 50%;}
.todo-holder--todo--list {list-style: none;}
.todo-holder--todo--bottom-items--items-left > span {margin-right: .25rem;}
.todo-holder--todo--bottom-items--center-items-button:not(:last-of-type) {margin-right: .5rem;}
.todo-holder--todo--bottom-items--center-items-button.active {color: var(--Bright-Blue) !important;}
.bg-top-section {
    width: 100%;
    min-height: 40vh;
}

.todo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12rem;
    width: 100%;
    padding: 1rem;
}

.todo-holder--todo--top-side {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.todo-holder--todo--top-side > h1 {
    color: white;
    letter-spacing: 10px;
    font-size: 30px;
}

.todo-holder--todo--top-side > button {
    background-color: unset;
    border: none;
}

.todo-holder--todo--input-holder {
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.todo-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: unset;
    border-radius: 100%;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-input {
    width: 80%;
    background-color: unset;
    border: none;
}

.todo-holder--todo--list--item-and-bottom-side-holder {
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    border-radius: .25rem;
    overflow: hidden;
}

.todo-holder--todo--list--item{
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.todo-holder--todo--bottom-items {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.todo-holder--todo--bottom-items--items-left {
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
}

.todo-holder--todo--bottom-items--center-items {
    display: inline-flex;
    align-items: center;
}

.todo-holder--todo--bottom-items--center-items-button,
.todo-holder--todo--bottom-items--clear-btn{
    font-size: 15px;
    font-weight: normal;
    background-color: unset;
    border: none;
}

.todo-holder--todo--bottom-of-todos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.todo-holder--todo--bottom-of-todos--inner-text {
    font-size: 15px;
    font-weight: normal;
}